<fieldset style="width:300px">
    <div>
        <h3> Product table </h3>
        <table class="prodTable" style="width: 300px;">
            <thead>
                <td class="prodTable">
                    Category
                </td>
                <td class="prodTable">
                    Price
                </td>
                <td class="prodTable">
                    Stocked
                </td>
                <td class="prodTable">
                    Name
                </td>
            </thead>
            <tbody>
                <tr  *ngFor="let item of productJsonObj">
                    <td class="prodTable">{{item.category}}</td>
                    <td class="prodTable">{{item.name}}</td>
                    <td class="prodTable">{{item.stocked}}</td>
                    <td class="prodTable">{{item.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>