.prodTableTitle{
        padding-left: 100px; 
        font-weight: bold;
}

.prodTableHeader {
        padding-left: 10px; 
        font-weight: bold;
}

fieldset {
        width:300px;
        border-color: green; 
        margin:5px;
}